/*::-webkit-scrollbar {
  display: none;
}*/

.map {
  width: 100%;
  position: fixed;
  z-index: 10;
  height: 30%;
  background-color: white;
}

.searchfield {
  width: 100%;
  z-index: 20;
  height: 7%;
  position: fixed;
  top: 29%;
  opacity: 80;
}

.listings-list {
  display: inline-flex;
  display: -webkit-inline-box; /* is this sufficient? */
  width: 3600px;
  overflow-x: scroll;
  position: fixed;
  height: 50%;
  top: 50%;
}

.listings-meta {
  top: 43%;
  height: 7%;
  position: fixed;
}
